:root {
    --primary-color: #82E0AA;
}

/* body {
    max-height: 100vh;
} */

.hero {
    /* background-color: var(--primary-color); */
    padding: 22px;
    margin-bottom: 20px;
}

.hero.has-background {
    position: relative;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    left: 0;
    top: 0; 
    background-size: cover;
    background-position: fit;
    width: 50%;
    height: 100%;
}

.hero-background.is-transparent {
    opacity: 0.5;
}

/* #dashboard-hero {
    position: absolute;
    left: 0;
    top: 0; 
    background-size: cover;
    background-position: fit;
    width: 50%;
    height: 100%;
}

#dashboard-bg {
    position: relative;
    overflow: hidden;
} */


.title {
    /* color: var(--primary-color); */
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 3px solid;
    border-color: hsl(171, 100%, 41%);
    padding-bottom: 12px;
}

img {
    width: 100%;
    margin-bottom: 3px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-shadow: 0 4px 8px 4px rgba(77, 77, 77, 0.20);
    margin: 2px 4px;
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

#about-us {
    text-align: center;
    font-size: 22px;
}

.button {
    margin-top: 12px;
}

.link {
    text-decoration: none;
    background-color: hsl(171, 100%, 41%);
    color: white;
    width: fit-content;
    padding: 8px 12px;
}